.top-nav {
  position: fixed;
  top: 0;

  .top-nav-logo-link {
    &:hover {
      cursor: pointer;
    }

    .top-nav-logo {
      height: 70px;
    }
  }

  .top-nav-tabs {
    .top-nav-tab {
      height: 72px;
      width: 150px !important;
    }
  }

  .hamburger {
    .hamburger-inner {
      background-color: $blue;

      &::before {
        background-color: $blue;
      }

      &::after {
        background-color: $blue;
      }
    }
  }
  // @media (max-width: 700px) {
  //
  // }
}
