.top-nav {

  .top-nav-logo-link {
    &:hover {
      cursor: pointer;
    }

    .top-nav-logo {
      height: 70px;
    }
  }


  .top-nav-tabs {
    .top-nav-tab {
      height: 72px;
      width: 150px !important;
    }
  }


    // @media (max-width: 700px) {
    //
    // }
}
